/checkouts/
/classes/
/lib/
/public/target/
/target/
/database/*
/db/system/*
/data/*
scheme
*.db
*.log
/uploads/*
/certificates/*
*.jar
pom.xml*
nohup.out
hs_err_pid*.log
.DS_Store
service.log
.lein-*
.nrepl-*
*.sw?
